@model StudyPlatform.ViewModels.QuestionareViewModel
@{
    ViewData["Title"] = "Введіть свою електронну пошту";
    Layout = "~/Views/Shared/_MinimalLayout.cshtml";
}

<style>
    html, body {
        overflow-y: hidden !important;
    }
</style>

<link rel="stylesheet" href="~/css/Questionare/QuestionareEnterGmailCredentials.css" />
<link rel="stylesheet" href="~/css/Login/login.css" /> @* tik del inputo *@
<link rel="stylesheet" href="~/css/Questionare/Background/Shadows.css" />

<div class=" top-right"></div>
<div class=" bottom-right"></div>
<div class=" top-left"></div>

<div class="conatainer">
    <h1>ВІТАЄМО, ТИ ВПОРАВСЯ!</h1>
    <form class="content" action="/sendToAnalytics" method="post">

        <div class="form-group">
            <input type="email" id="email" name="Email" class="form-control" placeholder="Укажите почту" required>
        </div>
            <input type="hidden" name="KnownlegeRating" value="@Model.KnownlegeRating"/>
            <input type="hidden" name="Motivation" value="@Model.Motivation"/>
            <input type="hidden" name="LearningFormat" value="@Model.LearningFormat"/>
            <input type="hidden" name="LearningTarget" id="LearningTarget" value="@Model.LearningTarget"/>
            <input type="hidden" id="StudyModules" name="StudyModules" value="@Model.StudyModules"/>
            <input type="hidden" id="HoursPerWeek" name="HoursPerWeek" value="@Model.HoursPerWeek"/>

        <button class="go-forward" type="submit">Ідіть уперед</button>
    </form>
</div>